thesisenv/
.DS_Store

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.bbl
*.bcf
*.xml
*.toc
*.blg
tesis.pdf

__pycache__/
tmp/
models/

notes.md
# I'll store the results of my tests here
logs/